<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 4 | CRM Inventory Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="container">

    {{{ body }}}

    </div>
  </body>
</html>
