{{#if user}}
<header class="page-header">
  <div class="container-fluid">
    <div class="clearfix">
    <h2 class="no-margin-bottom float-left" >Dashboard</h2>
    </div>
  </div>
</header>

<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
      <div class="row bg-white has-shadow">
        <!-- Item -->
        <a href="/orders" class="dashborder">
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-violet"><i class="ion-arrow-graph-up-right"></i></div>
            <div class="title"><span>Latest<br>Sales</span>
              <div class="progress">
                <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
              </div>
            </div>
            <div class="number"><strong>25</strong></div>
          </div>
        </div>
        </a>
        <!-- Item -->
        <a href="/tracking" class="dashborder">
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-red"><i class="ion-android-clipboard"></i></div>
            <div class="title"><span>All<br>Delivery</span>
              <div class="progress">
                <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
              </div>
            </div>
            <div class="number"><strong>70</strong></div>
          </div>
        </div>
        </a>
        <!-- Item -->
        <a href="/" class="dashborder">
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-green"><i class="ion-speakerphone"></i></div>
            <div class="title"><span>All<br>Descrepancy</span>
              <div class="progress">
                <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
              </div>
            </div>
            <div class="number"><strong>40</strong></div>
          </div>
        </div>
        </a>
        <!-- Item -->
        <a href="/inventory/stocks">
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-orange"><i class="ion-cube"></i></div>
            <div class="title"><span>All<br>Stock</span>
              <div class="progress">
                <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
              </div>
            </div>
            <div class="number"><strong>50</strong></div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </section>

  {{#each incomingstock as | stock |}}
    {{stock.invoiceNo}} | {{stock.batchNo}} | {{stock.lotNo}}
  {{/each}}
  {{else}}
  <div class="page login-page">
    <div class="container d-flex align-items-center">
      <div class="form-holder has-shadow">
        <div class="row">

          <div class="col-lg-6">
            <div class="info d-flex align-items-center">
              <div class="content">
                <div class="logo">
                  <h1>Inventory Managment</h1>
                </div>
                <p>Please Login to access</p>
              </div>
            </div>
          </div>

          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            <div class="form d-flex align-items-center">
              <div class="content">
                <form id="login-form" action="/login" method="post">

                  <table>

                    <tr>
                      <td>Name</td>
                      <td>:</td>
                      <td><input type="text" name="user[txtName]"></td>
                    </tr>

                    <tr>
                      <td>Password</td>
                      <td>:</td>
                      <td><input type="password" name="user[txtPassword]"></td>
                    </tr>

                    <tr>
                      <td></td>
                      <td></td>
                      <td><button id="login" type="submit" class="btn btn-dark">Login</button></td>
                    </tr>

                  </table>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights text-center">
      <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
      <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
    </div>
  </div>

{{/if}}
