<header class="page-header">
  <div class="container-fluid">
    <div class="clearfix">
    <h2 class="no-margin-bottom float-left" >Dashboard</h2>
    </div>
  </div>
</header>

<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
      <div class="row bg-white has-shadow">
        <!-- Item -->
        <a href="/orders" class="dashborder">
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-violet"><i class="ion-arrow-graph-up-right"></i></div>
            <div class="title"><span>Latest<br>Sales</span>
              <div class="progress">
                <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
              </div>
            </div>
            <div class="number"><strong>25</strong></div>
          </div>
        </div>
        </a>
        <!-- Item -->
        <a href="/orders" class="dashborder">
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-red"><i class="ion-android-clipboard"></i></div>
            <div class="title"><span>Latest<br>Delivery</span>
              <div class="progress">
                <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
              </div>
            </div>
            <div class="number"><strong>70</strong></div>
          </div>
        </div>
        </a>
        <!-- Item -->
        <a href="/" class="dashborder">
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-green"><i class="ion-speakerphone"></i></div>
            <div class="title"><span>All<br>Descrepancy</span>
              <div class="progress">
                <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
              </div>
            </div>
            <div class="number"><strong>40</strong></div>
          </div>
        </div>
        </a>
        <!-- Item -->
        <a href="/inventory/stocks">
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-orange"><i class="ion-cube"></i></div>
            <div class="title"><span>All<br>Stock</span>
              <div class="progress">
                <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
              </div>
            </div>
            <div class="number"><strong>50</strong></div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </section>
