<h3>Add new furniture model</h3>

<form action="/inventory/models/new" method="post">
  <label for="lblItemCode">Item Code: </label>
  <input type="text" name="model[itemCode]" placeholder="Enter Item Code">

  <label for="lblModel">Model: </label>
  <input type="text" name="model[model]" placeholder="Enter Model">

  <label for="lblColor">Color: </label>
  <input type="text" name="model[color]" placeholder="Enter Color">

  <label for="lblDimension">Dimension: </label>
  <input type="text" name="model[dimension]" placeholder="Enter Dimension">

  <label for="lblBarcode">Barcode: </label>
  <input type="text" name="model[barcode]" placeholder="Enter Barcode">

  <button type="submit" name="btn">Submit</button>

</form>
