
<h3>Create Category</h3>

<form action="/category" method="post">
  <label for="lblCompanyName">Category Name : </label>
  <input type="text" name="category[txtName]" placeholder="Enter Category Name">
  <br>

  <button type="submit" name="btn">Submit</button>

</form>
