<div class="container">

            <h3 class="card-title text-center">Update Role</h3>
            <form action="/category/update/{{ category.id }}?_method=PUT" method="post">


              <label for="lblRoleName">Category Name : </label>
              <input type="text" class="form-control" name="category[txtName]"placeholder="Enter Role Name" value="{{ category.name }}">
              <br/>

              <div class="text-center">
                <button type="submit" name="button" class="btn bg-warning">Submit</button>
              </div>
            </form>

            <h3 class="card-title text-center">Delete Supplier</h3>{{!-- Same thing, different request type --}}
            <form action="/category/update/{{ category.id }}?_method=DELETE" method="post">
              <div class="text-center">
                <button type="submit" class="btn bg-warning" name="button">Delete</button>
              </div>
            </form>


    </div>
