<h3>Create Roles</h3>

<form action="/roles" method="post">
  <label for="lblRole">Role : </label>
  <input type="text" name="role[txtRole]" placeholder="Enter Role">

  <button type="submit" name="btnRoles">Submit</button>

</form>
