<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="margin-bottom:30px;">
    <li class="breadcrumb-item"><a href="/roles">Roles</a></li>
    <li class="breadcrumb-item active" aria-current="page">New</li>
  </ol>
</nav>

<div class="container">

<h3>Create Roles</h3>

  <form action="/roles" method="post">
    <label for="lblRole">Role : </label>
    <input type="text" name="role[txtRole]" placeholder="Enter Role">

    <button type="submit" name="btnRoles">Submit</button>

  </form>

</div>
