<h3>Create Roles</h3>

<form action="/staffs" method="post">
  <label for="lblName">Name : </label>
  <input type="text" name="role[txtName]" placeholder="Enter Name">
  <br>

  <label for="lblPassword">Password : </label>
  <input type="text" name="role[txtPassword]" placeholder="Enter Password">
  <br>

  {{!-- <label for="lblRole">Role : </label>
  <select name="">

  </select> --}}



  <button type="submit" name="btnStaff">Submit</button>

</form>
