<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="margin-bottom:30px;">
    <li class="breadcrumb-item"><a href="/staffs">Staff</a></li>
    <li class="breadcrumb-item active" aria-current="page">New</li>
  </ol>
</nav>

<div class="container">

  <h3>Create Staff</h3>

  <form action="/staffs" method="post">
    <label for="lblName">Name : </label>
    <input type="text" name="staff[txtName]" placeholder="Enter Name">
    <br>

    <label for="lblPassword">Password : </label>
    <input type="password" name="staff[txtPassword]" placeholder="Enter Password">
    <br>

    <label for="lblRole">Role : </label>
    <select name="staff[role]">
      {{#each role as |role|}}
      <option value={{role.id}}>{{role.name}}</option>
      {{/each}}
    </select>

    <button type="submit" name="btnStaff">Submit</button>

  </form>

</div>
