<header class="page-header">
  <div class="container-fluid">
    <div class="clearfix">
    <h2 class="no-margin-bottom float-left" >Staff List:</h2>
    <a href="/staffs/new" class="btn btn-primary active float-right" role="button" aria-pressed="true">+ Create</a>
    </div>
  </div>
</header>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="margin-bottom:30px;">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Orders</li>
  </ol>
</nav>

<div class="container">

<table class="table display" id="example">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each staffs as |staff|}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{staff.name}}</td>
      <td>{{staff.role.name}}</td>
      <td>
        <a href="/staffs/update/{{staff._id}}" class="btn btn-primary">Edit/Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
